/*-------header-------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 20%;
    background-color: #1F2937;
}
.header-logo {
    font-family: Arial;
    font-size: 24px;
    color: #F9FAF8;
}
ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

/*-------Section-1-------*/

section-1 {
    display: flex;
    justify-content: space-between;
    padding: 6% 20%;
    background-color:#1F2937;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
}
.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: 'roboto', sans-serif;
}
.hero-text {
    font-family: Arial;
    font-size: 18px;
    color: #F9FAF8;
    width: 442px;
}
button {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    border: transparent;
    border-radius: 10px;
    padding: 8px 18px;
    width: 130px;
}
a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
}

/*-------Section-2-------*/

section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content > p {
    width: 180px;
    text-align: center;
}

.img-info {
    display: flex;
    gap: 50px;
}

img {
    border: 5px solid #3882F6;
    border-radius: 15px;
}

